body
{
  width: 1000px;
  height: 900px;
  margin: auto;
}
.content
{
	width: 990px;
	height: 850px;
	margin: auto;
}
.search
{
	width: 990px;
	height: 400px;
	margin: auto;
}
.s_menu
{
	width: 980px;
	height: 390px;
	margin: auto;
	padding-left: 20px;
	border: 1px solid;
}
.s_menuleft
{
	width: 700px;
	height: 380px;
	float: left;
}
.s_menuleft p
{
	font-size: 30px;
}
.s_menuleft td
{
	font-size: 30px;
	padding-bottom: 20px;
}
.s_menuright
{
	width: 280px;
	height: 380px;
	float: left;
}
.s_menuright input[type="button"]
{
	float: right;
	font-size: 40px;
	margin: 300px 100px 0 0;
}
.result
{
	width: 990px;
	height: 450px;
	margin: auto;
}
thead.table_head,tbody.table_scroll{
	display: block;
}
tbody.table_scroll {
	overflow-y: auto;
	height: 500px;
}
.result td,th{
  border-collapse: collapse;
	text-align: center;
	width: 245px;
  font-size: 30px;
}
#detail
{
  width: 125px;
}
#address
{
  width:400px;
}
.result input[type="button"]
{
  font-size: 30px;
}
