body
{
	width: 1000px;
	height: 990px;
	margin: auto;
}
.content
{
	width: 990px;
	height: 980px;
	margin: auto;
}
.content_left
{
	width: 440px;
	height: 980px;
	margin: 20px auto;
	float: left;
}
.content_left_top
{
	width: 440px;
	height: 200px;
	margin: auto;
}
.item_search
{
	width: 400px;
	height: 170px;
	border: 1px solid;
}

.item_search p
{
	font-size: 25px;
	margin: 30px 0 40px 20px;
}
.content_left_bottom
{
	width: 440px;
	height: 740px;
	margin: auto;
}
.item_view
{
	width: 400px;
	height: 740px;
}
.item_view thead.table_head,tbody.table_scroll{
	display: block;
}
.item_view tbody.table_scroll {
	overflow-y: auto;
	height: 670px;
}
.item_view td,th{
	text-align: center;
	width: 420px;
  font-size: 30px;
}
.content_right
{
	width: 440px;
	height: 980px;
	margin: 20px auto;
	float: left;
}
.content_right_top
{
	width: 440px;
	height: 200px;
	margin: auto;
}
.item_add
{
	width: 440px;
	height: 170px;
	border: 1px solid;
	margin: auto;
}
.item_add p
{
	font-size: 25px;
	margin: 10px 0 20px 20px;
}
.item_add input[type="button"]
{
	float: right;
	font-size: 25px;
	margin-right: 20px;
}
.content_right_center
{
	width: 440px;
	height: 670px;
	margin: auto;
}
.cart
{
	width: 440px;
	height: 660px;
	margin: auto;
	border: 1px solid;
}
.cart p
{
	font-size: 20px;
	margin-left: 30px;
}
.cart thead.table_head,tbody.table_scroll{
	display: block;
}
.cart tbody.table_scroll {
	overflow-y: auto;
	height: 545px;
}
.cart td,th{
	text-align: center;
	width:440px;
  font-size: 30px;
}
.content_right_bottom
{
	width: 440px;
	height: 30px;
	margin: auto;
}
.content_right_bottom input[type="button"]
{
	font-size: 25px;
	float: right;
}
